<!doctype html>
<html lang="en"><head><meta charset="UTF-8"><title>Invisiclues</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<header>
<h1>Invisiclues</h1>
</header>
<main>
<div class="index indented">
<ul>
<% games.keys.sort.each do |title| %>
<li><a href="<%= games[title] %>"><%== title %></a></li>
<% end %>
</ul>
</div>
</main></body></html>