<!doctype html>
<html lang="en"><head><meta charset="UTF-8"><title>Invisiclues</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<main class="index">
<h1 class="title">Invisiclues</h1>
<div>
<ul>
<% games.keys.sort_by {|x| x.sub(/\AThe\s+/,'') }.each do |title| %>
<li><a href="<%= games[title] %>"><%== title %></a></li>
<% end %>
</ul></div>
<%== templates.footer.render %>
</main>
</body></html>